<div class="loginDivContainer" style="display: none">
    <div class="loginDiv border-form-div">
        <div style="top:10px;left:10px;position: absolute" class="close-button" onclick="hideScreenBlanket()"></div>
        <h1 class="text-right">כניסה</h1>
        <br>
        <form accept-charset="UTF-8" action="/users/login.json" class="login_user" id="login_user" onsubmit="login();return false;">

            <div>
                <input autofocus="autofocus" id="user_email" name="user[email]" placeholder="כתובת אימייל" type="email" value="" />
            </div>

            <div>
                <input id="user_password" name="user[password]" placeholder="סיסמא" type="password" />
            </div>
            <div class="loginValidationErrorsDiv validationError"></div>
            <div>
                <input name="commit" type="submit" class="button btn text-right" value="שלח" />
            </div>
        </form>

        <a href="/users/password/new">שכחתי את הסיסמא</a>
        <br />
        <a href="#" onclick="showSignup()">משתמש חדש</a>
        <br />

    </div>
</div>

<div class="signupDivContainer" style="display: none">
    <div class="signupDiv border-form-div">
        <div style="top:10px;left:10px;position: absolute" class="close-button" onclick="hideScreenBlanket()"></div>
        <h1 class="text-right">הרשמה</h1>
        <br>
        <form accept-charset="UTF-8" action="/users" class="signup_user" id="signup_user" onsubmit="signup();return false;">
            <div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="&#x2713;" />
            </div>

            <div>
                <input autofocus="autofocus" id="user_email" placeholder="כתובת אימייל" name="user[email]" type="email" value="" />
            </div>

            <div>
                <input id="user_password" name="user[password]" placeholder="סיסמא" type="password" />
            </div>

            <div>
                <input id="user_password_confirmation" placeholder="אישור סיסמא" name="user[password_confirmation]" type="password" />
            </div>
            <div class="signupValidationErrorsDiv validationError"></div>
            <div>
                <input name="commit" type="submit" class="button btn text-right" value="שלח" />
            </div>
        </form>
        
        <a href="#" onclick="showLogin()">משתמש קיים</a>
        <br>
    </div>
</div>
<!--
<div id="editUserDiv">

<h2>Edit User</h2>

<form accept-charset="UTF-8" action="/users/signup.json" class="edit_user" id="edit_user">
<div>
<label for="user_email">Email</label>
<br />
<input autofocus="autofocus" id="user_email" name="user[email]" type="email" value="eran@checkm8.com" />
</div>

<div>
<label for="user_password">Password</label><i>(leave blank if you don't want to change it)</i>
<br />
<input autocomplete="off" id="user_password" name="user[password]" type="password" />
</div>

<div>
<label for="user_password_confirmation">Password confirmation</label>
<br />
<input id="user_password_confirmation" name="user[password_confirmation]" type="password" />
</div>

<div>
<label for="user_current_password">Current password</label><i>(we need your current password to confirm your changes)</i>
<br />
<input id="user_current_password" name="user[current_password]" type="password" />
</div>

<div>
<input name="commit" type="submit" value="Update" />
</div>
</form>
</div> -->