.logo {
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background: url("/assets/logo.png") no-repeat scroll center center /cover rgba(0, 0, 0, 0);
	height: 56px;
	margin-top: 10px;
	width: 130px;
}

.theme-item {
	display: none;
	width: 170px;
	height: 170px;
	border-radius: 30px;
	background-color: #F9F9F9;
	cursor: pointer;
}

.theme-img {
	width: 100%;
}

.theme-background-item {
	display: none;
	width: 170px;
	height: 170px;
	border-radius: 30px;
	background-color: #F9F9F9;
	cursor: pointer;
}

.theme-background-img {
	width: 100%;
	margin-top: 25px;
}

#wizardContainer {
	display: none;
	overflow: auto;
}

input.rounded-input-text {
	background-color: #F9F9F9;
	border-radius: 15px 15px 15px 15px;
	padding: 5px 10px 7px 0px;
	border: solid 1px #EDEDED;
}

#decalCanvasContainer {
	min-width: 742px;
	min-height: 525px;
}

.second-step {
	display: none;
	overflow: hidden;
	padding-top: 7px;
}

.third-step {
	display: none;
}

#backgroundDiv {
	position: absolute;
	z-index: -100;
	background: url("/assets/site-background.jpg") center center no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#facebook-connect {
	background: url("/assets/fb-login.png") center center no-repeat;
	width: 164px;
	height: 41px;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: pointer;
}

.screen-blanket {
	display: none;
	background-color: rgba(255, 255, 255, 0.50);
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
}

/* popup divs. */
.floating-div, .loginDiv, .signupDiv {
	background-color: #FFFFFF;
	border: 2px solid rgba(0, 0, 0, 0.07);
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 10px 10px 8px rgba(0, 0, 0, 0.18);
	color: inherit;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	margin: 0px;
	padding: 60px;
}

.loginDiv {
	position: absolute;
	width: 310px;
	height: 280px;
}

.signupDiv {
	position: absolute;
	width: 310px;
	height: 290px;
}

.msg-div H1 {
	font-size: 60px;
}

.button, .button-large, .button-bold {
	display: inline;
	background-color: #00aed9;
	background-image: linear-gradient(to bottom, #41C6F1, #00aed9);
	border: none;
	border-radius: 26px 26px 26px 26px;
	color: #FFFFFF;
	cursor: pointer;
	margin: 0 0 0 0;
	padding: 7px 18px;
	font-family: 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.button:hover, .button-large:hover, .button-bold:hover {
	color: #FFF;
	background-color: #00aed9;
}

.secondary-button:hover {
	color: #00aed9;
}

.button-large {
	border-radius: 29px 29px 29px 29px;
	font-size: 22px;
	padding: 13px 28px;
}

.button-bold {
	border-radius: 35px 35px 35px 35px;
	font-family: 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 15px 40px;
}

.secondary-button {
	background-color: #FFFFFF;
	border: 2px solid #DDDDDD;
	border-radius: 26px 26px 26px 26px;
	color: #00aed9;
	cursor: pointer;
	margin: 0px;
	padding: 5px 18px;
	font-family: 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	font-size: 17px;
}

#previewDecal {
	width: 100% px;
	height: 100% px;
}

#backgroundsTileContainerWrapper {
	overflow: auto;
	position: absolute;
	margin-top: 20px;
	display: none;
}

#textEditDiv {
	z-index:100;
	overflow: visible;
	position: absolute;
	margin-top:	20px;
	display: none;
}

#pinButton {
	float: right;
	margin: -1px 0 0 24px;
}

#yearsTextColor, 
#curvedTextColor {
	font-size: 0px; 
	cursor: pointer;
	border-radius: 6px 6px 6px 6px;
	height: 10px;
    margin: -20px 0 0;
    width: 10px;
}

.close-button {
	background: url("/assets/close.png") no-repeat scroll center center /cover rgba(0, 0, 0, 0);
	width: 33px;
	height: 33px;
}
